MANIFIESTO BAJO PROTESTA DE DECIR VERDAD QUE LOS DATOS AQUI ASENTADOS SON CIERTOS Y HAN SIDO DEBIDAMENTE VERIFICADOS, ASI COMO QUE CUENTO CON FACULTADES SUFICIENTES PARA SUSCRIBIR LA PROPUESTA EN LA PRESENTE LICITACION PUBLICA, A NOMBRE Y REPRESENTACION DE {{ razon_social }}.
No. DE LICITACION: {{ numero_licitacion }}
RFC: {{ rfc }}
SERVICIO: {{ servicio }}
({{ lugar }} Y {{ fecha }}) PROTESTO LO NECESARIO
FIRMA: {{ nombre_representante }}
